body{
    margin: 0px;
    padding:0px;
    background-color:grey;
}
.whole{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
     
li,a,button{
    font-size:25px;
    font: weight 500px;
    color:rgb(207, 134, 40);
    text-decoration: none;/*remove the decoration of text*/
}
header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding:10px 10%;
}
.logo{
    cursor:pointer;
    margin-right:auto;
    size: 10px;
}
.links{
    list-style:none;
}
.links li{
    display: inline-block;
    padding:10px 10px;

}
.links li a:hover{
    color:rgb(0, 0, 1);
}
.contact-btn{
    background: rgb(44, 44, 60);
    border-radius: 200px;
    font-weight: bold;
    padding:10px 10px;
    cursor:pointer;
    margin:20px 0;
    font-size: 25px;
}
.contact-btn:hover{
    background-color: rgb(121, 121, 125);
}
.details{
    margin-right:160px;
    margin-top: 5%;
}
.details h1{
    font-size:60px;
    color:black;
    margin-bottom:10px;
}
.details p{
    font-size:25px;
    color: black;
    margin: 5px;
}
/* .details a{



} */
.details a:hover{
    background-color:rgb(19, 72, 108);
}
.logo{
        width: 80px;
        height:80px;
        border-radius: 50%;
}
.table{
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 70px;
    font-size:30px;
    border-spacing: 10px;
}
.table th,tr{
    border:1px solid;
    border-style: groove;
    border-color: black;
    background-color: rgb(179, 173, 173);
    color:black

}

.user-details{
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 3rem;
}
.image img{
        border: 5px solid #555;
}
.about p{
    padding-left: 10px;
    padding-right: 10px;
    font-size:25px;
    color: black;
    margin: 5px;
}
.about h1{
    font-size:35px;
    color:black;
    margin-bottom:15px;
    padding-top:80px;
} 
.about-details{
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom:1rem;
}
.about a{
    background: rgb(44, 44, 60);
    border-radius: 200px;
    font-weight: bold;
    padding:10px 10px;
    cursor:pointer;
    margin:20px 0;
    font-size: 25px;
}
.about a:hover{
    background-color: rgb(121, 121, 125);
}
.fimg img{
    margin-left:1px;
    border: 5px solid #545252;
}
.do {
    padding-left: 120px;
    padding-right: 90px;
}
.do p{
    font-size: 25px;
}
.do h1{
    font-size: 35px;
    margin-bottom:15px;
    padding-top:10px;
}
.main{
    display: flex;
    gap: 10px;

    /* margin-right: 550px; */
}
.main a{
    background: rgb(44, 44, 60);
    border-radius: 200px;
    font-weight: bold;
    padding:10px 10px;
    cursor:pointer;
    margin:20px 0;
    font-size: 25px;
}
.main a:hover{
    background-color:rgb(19, 72, 108);
    text-align: justify;
}
.box{
   padding-left: 70px;
    padding-right: 70px;
}
.box div{
    font-size: 20px;
    font-weight:550;
    padding:2rem;
    margin-bottom: 1rem;
    max-width: 55rem;
    background-color: rgb(119, 114, 114);
    border-radius: 5px;
}

.footer {
    text-align: center;
}
.links li{
    color:rgb(8, 9, 9);
}

/*.first{
    background-color:rgb(211, 218, 226); 
    border-style: solid;
    text-align: justify;
} */
/*.box div{
    background-color: red;
    padding:3rem;
    margin-bottom: 1rem;
}
.box h1{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-style: solid;
    background-color:rgb(211, 218, 226);  
    text-align: justify; 
}
.box h2{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-style: solid;
    background-color:rgb(211, 218, 226);   
}
.box h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-style: solid;
    background-color:rgb(211, 218, 226);   
}*/
.exp{
    /* background-color: aliceblue; */
    font-size: 1rem;
    font-weight: 200;
    text-align: center;

}

.year{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


.parent{
    display:flex;
    margin-top: 2rem;
    gap: 1rem;
    margin-bottom: 3rem;
}

.exp-parent{
    padding: 1rem;
    background-color: rgb(119, 114, 114);
}
.proj-parent{
    padding: 1rem;
    background-color: rgb(119, 114, 114);
}
.num{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.num-det{
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}
.client-parent{
    padding: 1rem;
    background-color: rgb(119, 114, 114);
}
.client-num{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.happy{
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}
.hello{
    background: rgb(44, 44, 60);
    border-radius: 200px;
    font-weight: bold;
    padding:10px 10px;
    cursor:pointer;
    margin:20px 0;
    font-size: 25px;
}
.hello:hover{
    background-color: rgb(121, 121, 125);
}
.footer{
    background-color: rgb(112, 111, 111);
}
.parent-logo{
    background-color: rgb(112, 111, 111);
}



